In [52]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [53]:
df = pd.read_excel("D:\ML Projects\Employee Performance Analysis\data\INX_Future_Inc_Employee_Performance_CDS_Project2_Data_V1.8.xlsx")

In [54]:
df.drop(columns=['EmpNumber'], inplace=True)

In [55]:
df['OverTime']=df['OverTime'].map({'Yes':1, 'No':0})

In [56]:
df['Attrition'] = df['Attrition'].map({'Yes': 1, 'No': 0})

In [57]:
df['Gender']=df['Gender'].map({'Male':1, 'Female':0})

In [58]:
df.head()

,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,EmpEnvironmentSatisfaction,...,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,PerformanceRating
0,32,1,Marketing,Single,Sales,Sales Executive,Travel_Rarely,10,3,4,...,4,10,2,2,10,7,0,8,0,3
1,47,1,Marketing,Single,Sales,Sales Executive,Travel_Rarely,14,4,4,...,4,20,2,3,7,7,1,7,0,3
2,40,1,Life Sciences,Married,Sales,Sales Executive,Travel_Frequently,5,4,4,...,3,20,2,3,18,13,1,12,0,4
3,41,1,Human Resources,Divorced,Human Resources,Manager,Travel_Rarely,10,4,2,...,2,23,2,2,21,6,12,6,0,3
4,60,1,Marketing,Single,Sales,Sales Executive,Travel_Rarely,16,4,1,...,4,10,1,3,2,2,2,2,0,3

Added Feature via engieering

In [59]:
df['ExperienceStability'] = (df['ExperienceYearsAtThisCompany'] /(df['TotalWorkExperienceInYears'] + 1))

In [60]:
df['PromotionStagnation'] = (df['YearsSinceLastPromotion'] /(df['TotalWorkExperienceInYears'] + 1))

In [61]:
df['WorkStressIndex'] = df['OverTime'] * (5 - df['EmpWorkLifeBalance'])

In [62]:
df.head()

,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,EmpEnvironmentSatisfaction,...,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,PerformanceRating,ExperienceStability,PromotionStagnation,WorkStressIndex
0,32,1,Marketing,Single,Sales,Sales Executive,Travel_Rarely,10,3,4,...,2,10,7,0,8,0,3,0.909091,0.000000,0
1,47,1,Marketing,Single,Sales,Sales Executive,Travel_Rarely,14,4,4,...,3,7,7,1,7,0,3,0.333333,0.047619,0
2,40,1,Life Sciences,Married,Sales,Sales Executive,Travel_Frequently,5,4,4,...,3,18,13,1,12,0,4,0.857143,0.047619,2
3,41,1,Human Resources,Divorced,Human Resources,Manager,Travel_Rarely,10,4,2,...,2,21,6,12,6,0,3,0.875000,0.500000,0
4,60,1,Marketing,Single,Sales,Sales Executive,Travel_Rarely,16,4,1,...,3,2,2,2,2,0,3,0.181818,0.181818,0

In [63]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

cat_cols = df.select_dtypes(include='object').columns
for col in cat_cols:
    if col not in ['OverTime', 'Attrition']:
        df[col] = le.fit_transform(df[col])

In [64]:
df.to_pickle(r"D:\ML Projects\Employee Performance Analysis\artifacts\encoders\labelencoder.pkl")

In [65]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(
    drop='first',
    sparse_output=False,
    handle_unknown='ignore'
)

encoded_array = ohe.fit_transform(df[cat_cols])

encoded_df = pd.DataFrame(
    encoded_array,
    columns=ohe.get_feature_names_out(cat_cols),
    index=df.index
)

df = df.drop(columns=cat_cols)
df = pd.concat([df, encoded_df], axis=1)

In [66]:
df.to_pickle(r"D:\ML Projects\Employee Performance Analysis\artifacts\encoders\onehotencoding.pkl")